@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    color: #0f141e;
    background: #f1f1f1;
    font-size: 16pt;
    font-family: 'Roboto';
    font-weight: 800;
}
.tro {
    font-size: 16pt;
    font-family: Verdana;
}
.Opit {
    font-size: 15pt;
    font-weight: 550;
    background: orange;
}